<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录</title>
    <!-- 引入 Vue.js 和 Element UI 的 CDN 链接 -->
<!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="./css/element.css">
    <script src="https://g.alicdn.com/AWSC/AWSC/awsc.js"></script>
</head>

<body>

<div id="app">
    <el-container style="height: 100vh;">
        <el-main style="display: flex; justify-content: center; align-items: center;">
            <el-card style="width: 465px; margin: 0 auto; padding: 20px; text-align: center;">
                <h1 class="login-title">用户登录</h1>
                <el-form ref="loginForm" :model="loginForm" label-width="80px">
                    <el-form-item label="用户名" prop="username">
                        <el-input v-model="loginForm.username" placeholder="请输入用户名" style="width: 300px;margin-bottom: 20px;"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="password">
                        <el-input type="password" v-model="loginForm.password" placeholder="请输入密码" style="width: 300px;margin-bottom: 20px;"></el-input>
                    </el-form-item>
                    <div id="sc" style="margin: -20px 0 20px 100px;"></div>

                    <el-form-item style="text-align: center;">
                        <el-button type="primary" @click="login" style="width: 100%;">登录</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-main>

        <el-footer style="text-align: center; position: absolute; bottom: 30px; width: 100%;">
            <span class="text-muted">欢迎使用图书馆管理系统</span>
        </el-footer>
    </el-container>
</div>

<!-- 引入 Vue.js 和 Element UI 的 CDN 链接 -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
<script src="./js/vue@2.js"></script>
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="./js/element.js"></script>
<!-- 引入 Axios -->
<!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
<script src="./js/axios.js"></script>

<!-- 创建 Vue 实例 -->
<script>
    // 实例化ic对象
    AWSC.use("ic", function (state, module) {
        // 初始化
        window.ic = module.init({
            // test: module.TEST_PASS, // 测试智能验证通过
            // test: module.TEST_BLOCK, // 测试智能验证失败
            // test: module.TEST_NC_PASS, // 唤醒滑动验证并验证通过
            // test: module.TEST_NC_BLOCK, // 唤醒滑动验证并验证失败

            // 应用类型标识。它和使用场景标识（scene字段）一起决定了智能验证的业务场景与后端对应使用的策略模型。您可以在阿里云验证码控制台的配置管理页签找到对应的appkey字段值，请务必正确填写。
            appkey: "FFFF0N0000000000B8B6",
            // 使用场景标识。它和应用类型标识（appkey字段）一起决定了智能验证的业务场景与后端对应使用的策略模型。您可以在阿里云验证码控制台的配置管理页签找到对应的scene值，请务必正确填写。
            scene: "ic_login",
            // 声明智能验证需要渲染的目标元素ID。
            renderTo: 'sc',
            // 验证通过时会触发该回调参数。您可以在该回调参数中将会话ID（sessionId）、签名串（sig）、请求唯一标识（token）字段记录下来，随业务请求一同发送至您的服务端调用验签。
            success: function (data) {
                window.console && console.log(data.sessionId)
                window.console && console.log(data.sig)
                window.console && console.log(data.token)
            },
            // 验证失败时触发该回调参数
            fail: function (failCode) {
                console.log(failCode)
            },
            // 验证码加载异常时触发该回调参数
            error: function (errorCode) {
                console.log(errorCode)
            }
        });
    })

    new Vue({
        el: '#app',
        data() {
            return {
                loginForm: {
                    username: '',
                    password: '',
                }
            };
        },
        methods: {
            login() {
                // 发送 POST 请求到后端
                axios.post('/api/login', this.loginForm)
                    .then(response => {
                        // 登录成功的处理逻辑
                        const result = response.data;
                        if (result.code === 0) {
                            // console.log('登录成功', result.message);
                            this.$message({
                                message: '登录成功',
                                type: 'success'
                            });
                            setTimeout(() => {
                                window.location.href = `show.html?username=${this.loginForm.username}`;
                            }, 700);
                        } else {
                            this.$message({
                                message: '登录失败：' + result.message,
                                type: 'error'
                            });

                        }
                    })
                    .catch(error => {
                        // 登录失败的处理逻辑
                        console.error('登录失败', error.response.data.message);
                    });
            }
        },
        mounted() {
            axios.defaults.baseURL = 'http://localhost:8080'; // 设置 URL 前缀
        }
    });
</script>


<style>
    .text-muted {
        /*color: #999;*/
        font-size: 30px;
        color: red;
    }

    .login-title {
        font-size: 24px;
        margin: 0 auto 30px 50px;
    }
    body {
        background-image: url('./imgs/preview.jpg');
        background-size: cover; /* 根据需要调整背景图片的大小 */
        background-position: center; /* 根据需要调整背景图片的位置 */
        background-repeat: no-repeat; /* 防止背景图片重复显示 */
    }
</style>

</body>

</html>
