<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
    <!-- 引入 Element UI 样式文件 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入 Vue 和 Element UI JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
<div id="app">
    <el-container>
        <el-aside width="200px">
            <el-menu :default-active="activeIndex" class="el-menu-vertical-demo" @select="handleSelect">
                <el-menu-item index="userDetail">用户详情</el-menu-item>
                <el-menu-item index="bookDetail">借阅图书详情</el-menu-item>
            </el-menu>
        </el-aside>
        <el-main>
            <div v-if="activeIndex === 'userDetail'">
                <el-form :model="formData" label-width="100px" style="width: 50%;">
                    <el-form-item label="用户名">
                        <el-input v-model="formData.username" :readonly="true"></el-input>
                    </el-form-item>
                    <el-form-item label="用户可借阅的书本数量">
                        <el-input v-model="formData.maxBooksAllowed" :readonly="true"></el-input>
                    </el-form-item>
                    <el-form-item label="已经借阅的书本数量">
                        <el-input v-model="formData.borrowedBooks" :readonly="true"></el-input>
                    </el-form-item>
                    <el-form-item label="是否为VIP">
                        <el-switch v-model="formData.isVip" active-text="是" inactive-text="否" :disabled="true"></el-switch>
                    </el-form-item>
                    <el-form-item label="逾期未归还的图书数量">
                        <el-input v-model="formData.overdueBooks" :readonly="true"></el-input>
                    </el-form-item>
                </el-form>
            </div>
            <div v-else-if="activeIndex === 'bookDetail'">
                <el-table :data="pagedBookDetailsList" style="width: 100%; margin-top: 20px;">
                    <el-table-column prop="bookId" label="书本ID"></el-table-column>
                    <el-table-column prop="bookName" label="书本名称"></el-table-column>
                    <el-table-column prop="publisher" label="出版社"></el-table-column>
                    <el-table-column prop="publishDate" label="出版时间"></el-table-column>
                    <el-table-column prop="startDate" label="开始时间"></el-table-column>
                    <el-table-column prop="dueDate" label="逾期时间"></el-table-column>
                </el-table>
                <el-pagination
                        @current-change="bookDetailHandleCurrentChange"
                        :current-page.sync="currentPage"
                        :page-size="pageSize"
                        :page-sizes="[10, 20, 30, 40]"
                        layout="total, prev, pager, next"
                        :total="totalItems"
                ></el-pagination>
            </div>
        </el-main>
    </el-container>

</div>

<script>
    Vue.config.productionTip = false; // 设置 productionTip 为 false

    new Vue({
        el: '#app',
        data() {
            return {
                username: '', // 用户名
                formData: {},
                activeIndex: 'userDetail', // 生效侧栏页面
                pagedBookDetailsList: [], // 查询到的书本列表
                currentPage: 1,
                pageSize: 5,
                totalItems: -1,
            };
        },
        mounted() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            this.username = urlParams.get('username');
            this.initData(); // 要先获取到username才能调用initData();
        },
        methods: {
            handleSelect(index) {
                this.activeIndex = index;
                if (index === 'bookDetail') {
                    this.search(this.currentPage, this.pageSize);
                } else if (index === 'userDetail') {
                    this.initData();
                }
            },
            initData() {
                axios.get(`http://localhost:8080/api/users/${this.username}`)
                    .then(response => {
                        const result = response.data; // 获取整个Result对象
                        if (result.code === 0) { // 判断操作结果代码
                            this.formData = result.data; // 如果成功，将数据部分赋值给formData
                            console.log(this.formData)
                        } else {
                            this.$message.error(result.message); // 如果失败，显示错误消息
                        }
                    })
                    .catch(error => {
                        this.$message.error('查询用户信息失败');
                    });
            },
            search(currentPage, pageSize) {
                axios.get(`http://localhost:8080/api/books/searchBookDetail/${this.username}?currentPage=${currentPage}&pageSize=${pageSize}`)
                    .then(response => {
                        const result = response.data; // 获取整个Result对象
                        if (result.code === 0) { // 判断操作结果代码
                            this.pagedBookDetailsList = result.data.list; // 如果成功，将数据部分赋值给 pagedBookDetailsList
                            this.totalItems = result.data.totalItems
                        } else {
                            this.$message.error(result.message); // 如果失败，显示错误消息
                        }
                    })
                    .catch(error => {
                        this.$message.error('保存失败');
                    });
            },
            bookDetailHandleCurrentChange(page) {
                this.currentPage = page;
                this.search(this.currentPage, this.pageSize);
            },

        }
    });
</script>
</body>
</html>
