<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图书馆管理管理后台</title>
    <!-- 引入Vue.js和Element UI的CDN链接 -->
<!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="../css/element.css">
</head>
<body>

<!-- 创建一个包含Vue实例的容器 -->
<div id="app">
    <el-container style="height: 100vh;">
        <el-main style="display: flex;  justify-content: center; align-items: center">
            <el-card style="width: 565px; margin: 0 auto; padding: 10px; text-align: center;">
                <el-form ref="loginForm" :model="loginForm" label-width="80px">
                    <h1 class="display-4">图书馆管理管理后台</h1>
                    <el-form-item label="用户名" prop="username">
                        <el-input v-model="loginForm.username" placeholder="请输入用户名"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="password">
                        <el-input type="password" v-model="loginForm.password" placeholder="请输入密码"></el-input>
                    </el-form-item>
                    </el-form-item>
                    <el-form-item label="QQ邮箱" prop="email">
                        <el-input v-model="loginForm.email" placeholder="请输入QQ邮箱" style="width: 450px;">
                            <template slot="append">
                                <el-button type="primary" :disabled="isSendingCode" :style="{backgroundColor: isSendingCode ? '#ccc' : '#409EFF', color: '#fff'}" @click="sendVerificationCode">
                                    {{ isSendingCode ? countDown + '秒后可再次发送' : '发送验证码' }}
                                </el-button>
                            </template>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="验证码" prop="code">
                        <el-input v-model="loginForm.code" placeholder="请输入验证码" style="width: 450px;"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="login" style="width: 100%">登录</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-main>

        <el-footer style="text-align: center; position: absolute; bottom: 30px; width: 100%;">
            <span class="text-muted">欢迎使用图书馆管理系统</span>
        </el-footer>
    </el-container>
</div>

<!-- 引入Vue.js和Element UI的CDN链接 -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
<script src="../js/vue@2.js"></script>
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="../js/element.js"></script>
<!-- 引入 Axios -->
<!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
<script src="../js/axios.js"></script>

<!-- 创建Vue实例 -->
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                loginForm: {
                    email: '',
                    username: '',
                    password: '',
                    code: '',
                },
                user: {
                    username: '',
                    password: ''
                },
                verificationCode: '', // 保存验证码
                isSendingCode: false, // 是否正在发送验证码
                countDown: 10, // 倒计时剩余时间
            };
        },
        mounted() {
            axios.defaults.baseURL = 'http://localhost:8080'; // 设置URL前缀
        },
        methods: {
            validateLoginForm() {
                const { email, username, password } = this.loginForm;
                if (!email || !username || !password) {
                    this.$message({
                        message: '所有字段都是必填项',
                        type: 'error'
                    });
                    return false;
                }

                if (username.length < 3 || username.length > 20) {
                    this.$message({
                        message: '用户名长度需在3到20个字符之间',
                        type: 'error'
                    });
                    return false;
                }

                if (password.length < 6 || password.length > 20) {
                    this.$message({
                        message: '密码长度需在6到20个字符之间',
                        type: 'error'
                    });
                    return false;
                }

                if (!/^[a-zA-Z0-9_]+$/.test(username)) {
                    this.$message({
                        message: '用户名只能由字母、数字和下划线组成',
                        type: 'error'
                    });
                    return false;
                }

                if (!/^\d{5,10}@qq\.com$/.test(email)) {
                    this.$message({
                        message: '请输入正确的QQ邮箱',
                        type: 'error'
                    });
                    return false;
                }
                return true;
            },
            sendVerificationCode() {
                if (!this.validateLoginForm()) {
                    return
                }
                if (this.isSendingCode) return; // 如果正在发送验证码，则不执行下面的逻辑
                this.isSendingCode = true; // 设置为正在发送验证码状态
                // 启动计时器
                this.startCountDown();
                // 向后端发送请求来获取验证码
                axios.post('/api/sendMsg', { mail: this.loginForm.email })
                    .then(response => {
                        // 请求成功的处理逻辑
                        const result = response.data;
                        if (result.code === 0) {
                            this.$message.success(result.message)
                            // 将接收到的验证码保存到 verificationCode 属性中
                            this.verificationCode = result.data
                        } else {
                            this.$message.error(result.message)
                        }
                    })
                    .catch(error => {
                        // 请求失败的处理逻辑
                        // console.error('发送验证码失败', error.response.data.message);
                        this.$message.error('发送验证码失败,可能原因是您的邮箱地址格式不正确!!!')
                        console.error('发送验证码失败', error.response.data.message);
                        this.isSendingCode = false; // 发送失败后将状态设回false
                    });
            },
            startCountDown() {
                this.countDown = 10; // 重置倒计时为10秒
                this.isSendingCode = true; // 设置为正在发送验证码状态

                let timer = setInterval(() => {
                    console.log("调用")
                    if (this.countDown > 0) {
                        this.countDown--;
                    } else {
                        clearInterval(timer);
                        this.isSendingCode = false; // 计时结束后将状态设回false，允许再次发送验证码
                    }
                }, 1000);
            },
            login() {
                if (!this.validateLoginForm()) {
                    return
                }
                // 验证码校验
                if (this.loginForm.code !== this.verificationCode) {
                    this.$message.error('验证码错误');
                    return;
                }
                this.user.username = this.loginForm.username;
                this.user.password = this.loginForm.password;

                axios.post('/api/adminlogin', this.loginForm)
                    .then(response => {
                        // 登录成功的处理逻辑
                        const result = response.data;
                        if (result.code === 0) {
                            this.$message({
                                message: '登录成功',
                                type: 'success'
                            });
                            setTimeout(() => {
                                window.location.href = 'show.html'; // 用户界面
                            }, 700);
                        } else {
                            this.$message({
                                message: '登录失败：' + result.message,
                                type: 'error'
                            });

                        }
                    })
                    .catch(error => {
                        // 登录失败的处理逻辑
                        console.error('登录失败', error.response.data.message);
                    });
            }
        }
    });
</script>


<style>
    .text-muted {
        color: #999;
    }
    .display-4 {
        font-size: 24px;
        margin: 0 auto 30px 50px;
    }
    .text-muted {
        /*color: #999;*/
        font-size: 30px;
        color: red;
    }
    body {
        background-image: url('../imgs/preview.jpg');
        background-size: cover; /* 根据需要调整背景图片的大小 */
        background-position: center; /* 根据需要调整背景图片的位置 */
        background-repeat: no-repeat; /* 防止背景图片重复显示 */
    }
</style>

</body>
</html>
