<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户管理</title>
<!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="../css/element.css">
    <style>
        .custom-drawer {
            height: 200px;
        }
        .custom-drawer .el-form {
            padding-left: 20px; /* 将抽屉内的表单内容向右移动 */
        }

    </style>
</head>
<body>

<div id="app">
    <el-container>
        <el-main>
            <el-row :gutter="20">
                <el-col :span="8">
                    <el-input
                            v-model="searchKeyword"
                            placeholder="请输入关键字"
                            prefix-icon="el-icon-search">
                    </el-input>
                </el-col>
                <el-col :span="2">
                    <el-button @click="searchUsers(currentPage, pageSize)" type="primary" icon="el-icon-search">搜索</el-button>
                </el-col>
                <el-col :span="6">
                    <el-button @click="addUser" type="success" icon="el-icon-plus">新增</el-button>
                </el-col>
            </el-row>
            <el-table :data="pagedUserList" style="width: 100%; margin-top: 20px;">
                <el-table-column prop="userId" label="用户ID"></el-table-column>
                <el-table-column prop="username" label="用户名"></el-table-column>
                <el-table-column prop="maxBooksAllowed" label="用户可借阅的书本数量"></el-table-column>
                <el-table-column prop="borrowedBooks" label="已经借阅的书本数量"></el-table-column>
<!--                <el-table-column prop="isVip" label="是否为VIP"></el-table-column>-->
                <el-table-column prop="isVip" label="是否为VIP">
                    <template slot-scope="{ row }">
                        <el-switch v-model="row.isVip" :disabled="true"></el-switch>
                    </template>
                </el-table-column>
                <el-table-column prop="overdueBooks" label="逾期未归还的图书数量"></el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <!--scope.row是当前行数据-->
                        <el-button @click="deleteUser(scope.row)" type="text" icon="el-icon-delete" class="text-danger"></el-button>
                        <el-button @click="editUser(scope.row)" type="text" icon="el-icon-edit" class="text-warning"></el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!--@current-change="handleCurrentChange"  点击分页数字时调用的方法-->
            <el-pagination
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-size="pageSize"
                    :total="totalItems"
                    layout="total, prev, pager, next"
                    style="margin-top: 20px;"
            ></el-pagination>

        </el-main>
    </el-container>

    <!-- 新增和编辑用户的抽屉 -->
    <el-drawer
            :title="flag === 0 ? '新增用户' : '编辑用户'"
            :visible.sync="drawer"
            :direction="direction"
            :before-close="detailHandleClose"
            :style="drawerStyle"
    >
        <el-form ref="userForm" :model="formData" label-width="100px">
            <el-form-item label="用户ID" prop="userId" v-if="flag !== 0">
                <el-input v-model="formData.userId" disabled></el-input>
            </el-form-item>
            <el-form-item label="用户名" prop="username">
                <el-input v-model="formData.username"></el-input>
            </el-form-item>
            <el-form-item label="用户可借阅的书本数量" prop="maxBooksAllowed" v-if="flag !== 0">
                <el-input v-model="formData.maxBooksAllowed" :disabled="flag !== 0"></el-input>
            </el-form-item>
            <el-form-item label="已经借阅的书本数量" prop="borrowedBooks" v-if="flag !== 0">
<!--                <el-input v-model="formData.borrowedBooks"></el-input>-->
                <el-input v-model="formData.borrowedBooks" :disabled="flag !== 0"></el-input>
            </el-form-item>
            <el-form-item label="是否为VIP" prop="isVip">
                <el-switch v-model="formData.isVip" @change="changeVipStatus"></el-switch>
            </el-form-item>
            <el-form-item label="逾期未归还的图书数量" prop="overdueBooks" v-if="flag !== 0">
                <el-input v-model="formData.overdueBooks" :disabled="flag !== 0"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="handleSave">保存</el-button>
                <el-button type="primary" @click="resetOverdue">重置逾期图书数量</el-button>
                <el-button @click="cancelAdd">取消</el-button>
            </el-form-item>
        </el-form>

    </el-drawer>

</div>

<!-- 引入Vue.js和Element UI的CDN链接 -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
<script src="../js/vue@2.js"></script>
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="../js/element.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
<script src="../js/axios.js"></script>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                // 搜索关键字
                searchKeyword: '',
                // 用户列表
                userList: [],
                // 分页相关数据
                currentPage: 1,  /*搜索分页当前页*/
                pageSize: 5,     /*搜索分页每页大小*/
                totalItems: 5,
                pagedUserList: [],
                drawer: false, // 新增和编辑用户的抽屉相关数据
                direction: 'ttb',
                formData: {},
                // 用户详情的抽屉相关数据
                detailDrawer: false,
                detailFormData: {},
                flag: 0,       // 控制新增和修改, 0新增1修改
                drawerHeight: '2200px' //控制抽屉高度
            };
        },
        methods: {
            searchUsers(currentPage, pageSize) {
                axios.get(`/api/users/searchByPage?query=${this.searchKeyword}&pageNum=${currentPage}&pageSize=${pageSize}`)
                    .then(response => {
                        const result = response.data;
                        this.pagedUserList = result.data.list;
                        this.totalItems = result.data.totalItems;
                        this.pageSize = result.data.pageSize;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            handleCurrentChange(currentPage) {
                this.currentPage = currentPage;
                this.searchUsers(currentPage, this.pageSize);
            },
            handleClose(done) {
                this.detailDrawer = false;
                done();
            },
            cancelAdd() {
                this.drawer = false;
                this.resetForm();
            },
            handleSave() {
                if (this.flag === 1) {
                    axios.put(`/api/users`, this.formData)
                        .then(response => {
                            const result = response.data;
                            if (result.code === 0) {
                                this.$message.success(result.message);
                                this.searchUsers(this.currentPage, this.pageSize);
                                this.drawer = false;
                                this.formData = {};
                            } else {
                                this.$message.error(result.message);
                            }
                        })
                        .catch(error => {
                            console.log(error);
                        });
                } else if (this.flag === 0) {
                    axios.post(`/api/users`, this.formData)
                        .then(response => {
                            const result = response.data;
                            if (result.code === 0) {
                                this.$message.success(result.message);
                                this.searchUsers(this.currentPage, this.pageSize);
                                this.drawer = false;
                                this.formData = {};
                            } else {
                                this.$message.error(result.message);
                            }
                        })
                        .catch(error => {
                            console.log(error);
                        });
                }
            },
            detailHandleClose(done) {
                this.detailDrawer = false;
                done();
            },
            deleteUser(userInfo) {
                this.$confirm('确定要删除该用户吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete(`/api/users/${userInfo.userId}`)
                        .then(response => {
                            const result = response.data;
                            if (result.code === 0) {
                                // 删除成功后刷新用户列表并弹出提示框
                                this.searchUsers(this.currentPage, this.pageSize);
                                this.$message.success(result.message);
                            } else {
                                this.$message.error(result.message);
                            }
                        })
                        .catch(error => {
                            console.log(error);
                        });
                }).catch(() => {
                    // 用户点击取消，不执行任何操作
                });
            },
            editUser(userInfo) {
                this.drawerHeight = '2200px';
                this.flag = 1;
                this.formData = { ...userInfo }; // 将要编辑的用户信息赋值给formData
                this.drawer = true; // 打开新增和编辑用户的抽屉
            },
            addUser() {
                this.drawerHeight = '1000px';
                this.flag = 0;
                this.drawer = true;
                this.formData = {};
            },
            changeVipStatus(newValue) {
                if (newValue) {
                    this.formData.maxBooksAllowed = 10;
                } else {
                    this.formData.maxBooksAllowed = 5;
                }
            },
            resetOverdue() {
                this.formData.borrowedBooks = this.formData.borrowedBooks - this.formData.overdueBooks;
                this.formData.overdueBooks = 0;
                this.$forceUpdate();  // 强制刷新页面
                axios.put(`/api/users/resetDueBooks?username=${this.formData.username}`)
                    .then(response => {
                        const result = response.data;
                        if (result.code === 0) {
                            this.$message.success(result.message);
                        } else {
                            this.$message.error(result.message);
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    })
            }

        },
        mounted() {
            axios.defaults.baseURL = 'http://localhost:8080'; // 设置URL前缀
            this.searchUsers(this.currentPage, this.pageSize);
        },
        computed: {
            // 动态控制css样式
            drawerStyle() {
                return {
                    height: this.drawerHeight,
                    'padding-left': '20px' /* 将抽屉内的表单内容向右移动 */
                };
            }
        }
    });
</script>

</body>
</html>
